* {
    box-sizing: border-box;
    font-family: "Lucida Console", Monaco, monospace;
}
a {
    text-decoration: underline;
    cursor: pointer;
}
body {
    border-color: black;
}
.maze-container, .overlay-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.maze {
    position: relative;
}
.row {
    overflow: auto;
}
.cell {
    float:left;
}
.border-top {
    border-top: 2px solid;
}
.border-down {
    border-bottom: 2px solid;
}
.border-left {
    border-left: 2px solid;
}
.border-right {
    border-right: 2px solid;
}
.grem {
    position: absolute;
    left: 0;
    top: 0;
    margin: 4px;
    transition: transform .05s ease-in-out;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    background-size: 80% 80%;
}
.good-grem {
    background-image: url(images/mouse7.png);
}
.bad-grem-0 {
    background-image: url(images/mouse2.png);
}
.bad-grem-1 {
    background-image: url(images/mouse3.png);
}
.bad-grem-2 {
    background-image: url(images/mouse4.png);
}
.bad-grem-3 {
    background-image: url(images/mouse5.png);
}
.bad-grem-4 {
    background-image: url(images/mouse6.png);
}
.bad-grem-5 {
    background-image: url(images/mouse1.png);
}
.end-grem {
    background-image: url(images/cookie.png);
    background-position: 50% 50%;
}
.teleport-grem {
    border-radius: 50%;
    background: cyan;
}
.spinning {
    animation: spin 60000ms linear 0s infinite;
    -webkit-animation: spin 60000ms linear 0s infinite;
    -moz-animation: spin 60000ms linear 0s infinite;
}
@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
.pivot-90, .pivot-180, .pivot-270 {
    transition: all .5s ease-in-out;
}
.pivot-90 {
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}
.pivot-180 {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}
.pivot-270 {
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
}
.overlay-container {
    position: fixed;
    top: 0;
    bottom: 0;
}
.overlay {
    border: 2px solid black;
    color: black;
    background: white;
    position: relative;
    width: 500px;
    height: 300px;
}
.time_remaining {
    position: absolute;
    font-size: 40px;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.stats {
    font-size: 30px;
    position: absolute;
    top: 0;
    left: 0;
}
.credits {
    font-size: 30px;
    position: absolute;
    bottom: 0;
    display: none;
    right: 0;
    text-align: right;
}
.notice {
    color: red;
    display: none;
}
body.level-0 .notice, body.level-0 .credits, body.done .credits {
    display: inline;
}
.level-13, .level-14 {
    background: black;
    color: white;
    border-color: white;
}
.level-15 .cell {
    border-bottom: 2px solid black;
    border-right: 2px solid black;
}
.level-15 .border-top {
    border-top: 0;
}
.level-15 .border-down {
    border-bottom: 0;
}
.level-15 .border-left {
    border-left: 0;
}
.level-15 .border-right {
    border-right: 0;
}
